body {
    
    background: url(img/12_col.gif) center repeat-y;
    width: 100%;
}

header {
    border: 1px solid;
    grid-area: header;
}
.B1 {
    border: 1px solid;
    grid-area: B1;
}

.B2 {
    border: 1px solid;
    grid-area: B2;
}

.B3 {
    border: 1px solid;
    grid-area: B3;
}

.content {
    
        border: 1px solid;
        grid-area: content;
}
.sidebar {
    border: 1px solid;
    grid-area: sidebar;
}

footer {
    display: grid;
    border: 1px solid;
    grid-area: footer;

}

    

#container {
    display: grid;
    width: 100%;
    height: 1000px;

}
