body {
    
    background: url(img/12_col.gif) center repeat-y;
    background-size: 90%;
}

header {
    border: 1px solid;
    grid-area: header;
}
.B1 {
    border: 1px solid;
    grid-area: B1;
}

.B2 {
    border: 1px solid;
    grid-area: B2;
}

.B3 {
    border: 1px solid;
    grid-area: B3;
}

.content {
    
        border: 1px solid;
        grid-area: content;
}
.sidebar {
    border: 1px solid;
    grid-area: sidebar;
}

footer {
    display: grid;
    border: 1px solid;
    grid-area: footer;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    'fs1 fs2 fs3 fs4';
    grid-template-rows: auto;

}
.fs1 , .fs2 , .fs3 , .fs4 {
    border: 1px solid;
    margin: 8px;
}

 
/* ============================================= */ 
  /*      v   GJORD FRÅN 1920PX SKÄRM  v             */

#container {
    display: grid;
    width: 90%;
    height: 800px;
    margin: 20px auto;
    gap: 10px 15px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-areas: 
    'header  header header header header header header header header header header header' 
    'B1 B1 B2 B2 B2 B2 B2 B2 B2 B2 B3 B3'
    'content content content content content content content content content sidebar sidebar sidebar '
    'footer footer footer footer footer footer footer footer footer footer footer footer';
}

/*       ^   GJORD FRÅN 1920PX SKÄRM  ^             */
/* ============================================= */



@media screen and (max-width: 1200px) and (min-width: 960px) {
    #container {
    display: grid;
    width: 90%;
    height: 800px;
    margin: 20px auto;
    gap: 10px 15px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-areas: 
    'header  header header header header header header header header header header header'
    'B1 B1 B1 B2 B2 B2 B2 B2 B2 B3 B3 B3'
    'content content content content content content content content sidebar sidebar sidebar sidebar'
    'footer footer footer footer footer footer footer footer footer footer footer footer';
 } 
}

@media screen and (max-width: 960px) and (min-width: 768px) {
    #container {
        display: grid;
        width: 90%;
        height: 800px;
        margin: 20px auto;
        gap: 10px 15px;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 200px 200px 200px 200px;
        grid-template-areas: 
        'header  header header header header header header header header header header header'
        'B1 B1 B1 B1 B2 B2 B2 B2 B3 B3 B3 B3'
        'content content content content content content sidebar sidebar sidebar sidebar sidebar sidebar'
        'footer footer footer footer footer footer footer footer footer footer footer footer'
        'footer footer footer footer footer footer footer footer footer footer footer footer'
        
      ;
    }
    footer {
        display: grid;
        gap: 10px 15px;
        grid-area: footer;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 200px);
        grid-template-areas: 
        'fs1 fs2'
        'fs3 fs4';
        
    }
}

@media screen and (max-width: 768px) {
 
    #container {
        display: grid;
        width: 90%;
        height: 800px;
        margin: 20px auto;
        gap: 10px 10px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(10, 200px);
        grid-template-areas: 
        'header'
        'B1'
        'B2'
        'B3'
        'content'
        'sidebar'
        'footer'
        'footer'
        'footer'
        'footer';
    }
    footer {
        display: grid;
        grid-area: footer;
        gap: 10px 15px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 200px);
        grid-template-areas: 
        'fs1'
        'fs2'
        'fs3'
        'fs4';
    }
}